{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/react"
    ],
    "plugins": [
        "@babel/plugin-transform-react-constant-elements",
        "@babel/plugin-proposal-class-properties",
        "react-hot-loader/babel"
    ]
}